.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-box {
  min-width: 350px;
  width: 450px;
  height: fit-content;
  
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap:12px;
  
}
textarea{
  min-width: 300px;
  width: 100%;
  min-height:150px;
  height:min-content;

  padding: 5px;
}

.modal-box h2 {
  margin-top: 0;
  color: #6A0DAD;
}

.modal-box input,
.modal-box select {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  /* margin-top: 20px; */
}

.cancel-btn {
  background: #ccc;
  color: #333;
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancel-button{
   background-color: #bfbfbfa4;
  color: #333333;
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancel-button:hover{
  background-color:#bdbdbd ;
}


.save-btn {
  background: #427af1f9;
  color: white;
  padding: 8px 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.save-btn:hover{
   background-color: #2061eef9;
  
}
.delete-btn{
  padding: 8px 16px;
  color: rgb(225, 10, 10);
  border-radius: 12px;
  border: none;
  cursor: pointer;

  
}
.delete-button{
  padding: 8px 16px;
  color: rgb(225, 10, 10);
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background-color: #bfbfbfa4;
  font-weight: bold;
  
}

 .delete-button:hover {
  background-color:#bdbdbd ;
  
}

.info-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.info-modal-box {
  width: 500px;
  /* max-width: 95%; */
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  position: relative;
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap:12px;
  
  
}
.info-modal-box h2{
   color: #5924b1;
}
.info-modal-box p{
  background-color: #cbcbcb45;
  padding: 12px;
  /* margin-top: 12px; */
  color: #5924b1;
  border-radius: 12px;
 
}

.info-modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 16px;
}

.info-cancel-btn {
  background-color: #FF6B6B;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  
}

.info-cancel-btn:hover {
  background-color: #e14f4f;
}

