.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-box {
  width: 350px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  
}

.modal-box h2 {
  margin-top: 0;
}

.modal-box input,
.modal-box select {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancel-btn {
  background: #ccc;
  color: #333;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.save-btn {
  background: #2563eb;
  color: white;
  padding: 8px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.delete-btn{
  padding: 8px 16px;
  color: rgb(225, 10, 10);
   border-radius: 6px;
  border: none;
  cursor: pointer;
}

.info-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.info-modal-box {
  width: 800px;
  max-width: 95%;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  position: relative;
}

.info-modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  gap: 16px;
}

.info-cancel-btn {
  background-color: #FF6B6B;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.25s ease;
}

.info-cancel-btn:hover {
  background-color: #e14f4f;
}
