

.todo-details {
  width: 100%;
  background-color: #ab6ff342;
  border-radius: 16px;
  padding: 32px 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 6px 16px rgba(139, 76, 216, 0.18);
}

.todo {
  display: flex;
  flex-direction: column; /* vertical layout */
  align-items: flex-start;
  padding: 18px 30px;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid #eee3ff;
  box-shadow: 0 4px 15px rgba(155, 91, 255, 0.08);
  transition: 0.25s ease;
  gap: 12px;
}

.todo:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 22px rgba(155, 91, 255, 0.15);
}

.todo-left h4 {
  margin: 0;
  font-size: 1.5rem;
  color: #5924b1;
  font-weight: 700;
  overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;

}

.todo-details > h2 {
  color: #5924b1;
  text-align: center;
}

/* Status + Dates row */
.todo-info {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
 
}
.status-info{
  display: flex;
  justify-content: space-between;
}

.status-info p{
  font-size: 1rem;
}

.status {
  background-color: #d8c9ff;
  color: #4b0abf;
  padding: 4px 12px;
  border-radius: 12px;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 90px;
  text-align: center;
  flex-shrink: 0;
  margin-top: 25px;
}


.status.pending {
  background-color: #ead8ff;
  color: #6a1fbf;
}

.status.in-progress {
  background-color: #d9eaff;
  color: #115da8;
}

.status.completed {
  background-color: #ffdce6;
  color: #c2185b;
}



.dates p {
  margin: 0;
}

/* Buttons at bottom right */
.card-right {
   display: flex;           /* horizontal row */
  justify-content: space-between; /* dates left, buttons right */
  align-items: center;     /* vertically center both sides */
  margin-top: 12px;
  width: 100%;
}
.dates {
  display: flex;
  gap: 16px;
  font-size: 1.2rem;
  color: #5e4baf;
  font-weight: 600;
  flex-wrap: wrap; 
  max-width: 70%; 
 
 
  
}
.icons-button{
  display: flex;
  gap: 12px;
  
}

.card-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
  font-size: 1.2rem;
}

.card-btn:hover {
  background-color: rgba(106, 31, 191, 0.12);
  transform: scale(1.15);
}

.edit-btn {
  color: #6a1fbf;
}

.delete-btn {
  color: #e74c3c;
}

.info-btn {
  color: #FF6B6B;
}

@media (min-width: 320px) {
  .todo-details{
    width:100%;
    display: flex;
    padding: 12px 12px;
    
  }
  .todo-info {
    flex-wrap: wrap;
    gap: 10px;
  }

  .dates {
    flex-wrap: wrap;
    gap: 10px;
  }

}
